@{
    ViewBag.Title = "Список книг";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    <script type="text/javascript">
    </script>
}

<div class="row">
</div>
<div class="row">
    <div class="col-md-6">
        <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#dialogModalLg" href="@Url.Action("TeleCheck", "Tele")">
            Запустить проверку
        </a>
    </div>
    <table>
        <tr >
        
            <th>    <b>ntcn</b></th>
                <th><b>ntcn</b></th>
                <th><b>ntcn</b></th>
                <th>nt<b>ntcn</b>cn</th>
                
</tr>
        <tr>
            <td>qqw</td>
            <td>qweqwe</td>
            <td>qweqwe</td>
            <td>qweqwe</td>
            <td>qweqwe</td>
        </tr>
    </table>
</div>