@model Support.Models.ReferVM
@{
    ViewBag.Title = "Получение контактов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    function onSuccessCancelRefer(data) {
        if (data.success) {
            showAlertMessage("#successAlert", data.message);
            window.location.reload();
        } else {
            showAlertMessage("#errorAlert", data.message);
        }
    }
    function onFailureFormDefault(data) {
        showAlertMessage("errorAlert", data.message);
    }
</script>
<div class="modal-body">
    <div class="well">
        <div class="row">
            <div class="col-md-10">
                @Html.Action("Workers")
            </div>
            <div class="col-md-10">
                @Html.Action("NewRefers")
            </div>
            <div class="col-md-10">
                @Html.Action("DoneRefers")
            </div>
        </div>
    </div>
</div>